.row-fluid
  .span4(ng-repeat='environment in environments')
    h2 {{environment.name}}
    table.table.table-hover
      thead
        tr
          td Test Name
          td Last Ran
          td Status
      tbody
        tr.error(ng-click='modifyTest(test)', ng-repeat='test in environment.tests | filter:{status:"fail"}')
          td
            strong
              | {{test.name}}
              strong
          td {{test.timeAgo}}
          td {{test.reason}}
        tr.warning(ng-click='modifyTest(test)', ng-repeat='test in environment.tests | filter:{status:\'warning\'}')
          td
            strong
              | {{test.name}}
              strong
          td {{test.timeAgo}}
          td {{test.reason}}
        tr.success(ng-click='modifyTest(test)', ng-repeat='test in environment.tests | filter:{status:\'pass\'}')
          td {{test.name}}
          td {{test.timeAgo}}
          td {{test.reason}}